.azeret-mono-font {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

.top-hedding {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 120px;
}

.top-hedding-tittel {
    color: #0D1321;
    font-size: 28px;
    font-weight: 800;
}

.top-btn {
    border-radius: 8px;
    border: 1px solid #0D1321;
    padding: 14px 16px;
    gap: 10px;
}

.top-btn>button {
    color: #0D1321;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    background: none;
    border: none;
}

/* hero section */
.hero {
    background-image: url('../assets/Hero-bg.png');
    text-align: center;
}

.hero-img {
    margin: 20px 0px 0px 0px;
}

.hero-headding {
    margin-bottom: 18px;
    color: #0D1321;
    font-size: 38px;
    font-weight: 800;
    line-height: 68px;
}

.hero-perogurp {
    margin-bottom: 22px;
    color: #0D1321;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.hero>a {
    margin-bottom: 35px;
    padding: 17px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #0D1321;
    color: white;
    text-decoration: none;
}

/* why web dev section */
.web-section {
    margin: 0px 200px 0px 200px;
}

.web-dev>h3 {
    margin-top: 100px;
    color: #0D1321;
    text-align: center;
    font-size: 24px;
    font-weight: 800;

}

.web-dev>p {
    margin-top: 15px;
    color: #0D1321;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.web-codding {
    display: flex;
    margin-top: 35px;
}

.web-text {
    flex: 1;
}

.web-text>h4 {
    color: rgba(13, 19, 33, 0.70);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

.web-img {
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.web-text>a {
    text-decoration: none;
    border: 1px solid #0D1321;
    padding: 12px 20px;
    color: #0D1321;
    text-align: center;
    font-size: 20px;
    font-weight: 600;

}

.web-text>p {
    margin-bottom: 34px;
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;/
}

/* video section */
.video-section-headding {
    text-align: center;
}

.video-section-headding>h3 {
    color: #0D1321;
    text-align: center;
    font-size: 32px;
    font-weight: 800;
}

.video-section-headding>p {
    color: #0D1321;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

/* my-current-section */
.my-current-section-hedding>h3 {
    color: #0D1321;
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    margin-top: 120px;
}

.my-current-section-hedding>p {
    color: #0D1321;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}

.my-terget-contranir {
    display: flex;
    justify-content: space-around;
    gap: 15px;
    margin: 50px 150px;
}

.my-terget-contranir>a {
    color: #0D1321;
}

.html-part {
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    padding: 40px;
}

.css-part {
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    padding: 40px;
}

.js-part {
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
    padding: 40px;
}

/* My-Next-Target-section */
.My-Next-Target-hadding>h3 {
    color: #0D1321;
    text-align: center;
    font-size: 32px;
    font-weight: 800;
}

.My-Next-Target-hadding>p {
    color: #0D1321;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.react-contiar {
    display: flex;
    gap: 20px;
    margin: 50px 150px;
    border-radius: 16px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    background: #FFF;
    padding: 40px;
}

.react-text>h4 {
    color: #0D1321;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
}

.NodeJs-contiar {
    display: flex;
    gap: 20px;
    margin: 50px 150px;
    border-radius: 16px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    background: #FFF;
    padding: 40px;
}

.NodeJs-text>h4 {
    color: #0D1321;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
}

.MongoDB-text>h4 {
    color: #0D1321;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
}

.MongoDB-contanir {
    display: flex;
    gap: 20px;
    margin: 50px 150px;
    border-radius: 16px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    background: #FFF;
    padding: 40px;
}